// Navigation code here

.nav-bar{
    .flex-display(column, flex-start, center, center);
    h1{
        padding: 5px 0;
    }
    nav{
        .flex-display(row, space-between, flex-start, flex-start);
        padding-top: 15px;
        width: 50%;
        a{
        text-decoration: none;
        color: @main-font-color;
        font-size: 1.6rem;
        font-weight: bold;
    }
    }
    
    padding: 15px 0;
}